
{% extends 'base.html' %}
  <title>Home</title>
    <meta name="description" content="Check our property listings with more details here">
{% block body %}
<style>
  /* Make the image fully responsive */
  .carousel-inner img {
    width: 100%;
    height: 60%;
  }


  </style>

<body>

<div id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../media/property/slider_1.jpg" alt="SS Ventures" width="1200" height="400">
      <div class="carousel-caption">
          <h3 style="color:red"><strong><b>SRI SAKTHI VENTURES</b></strong></h3>
       <h5><p style="color:green"><b>Great Way of Grand Living...</b></p></h5>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../media/property/slider_2.jpg" alt="SS Ventures" width="1200" height="400">
      <div class="carousel-caption">
        <h3  style="color:#black "><strong><b>Now at Popular Shrine Annavaram</b></strong></h3>
        <h5><p style="color:#ffc400 "><b> Near Railway Station</b></p></h5>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../media/property/slider_3.jpg" alt="SS Ventures" width="1200" height="400">
      <div class="carousel-caption">
        <h3 style="color:green"><strong><b>GUDA Approved Layout</b></strong></h3>
        <h5><p style="color:red"><b>With All Facilities @Better Price</b></p></h5>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

</body>
<br>

<!-- Adding animation code-->
<div class="container">
    <div class="row mx-auto mb-8">

        {% for property in property_list %}


      <div class="col-md-4 mx-auto">
          
        <div class="card card-1">
            <a target="" href="{% url 'venture:property_detail' property.id %}">
                  <img class="card-img-top" src="{{property.image.url}}" alt="Card image cap">

            </a>


            <div class="card-body">
                <h5 class="card-title"> {{property.name}}</h5>

                 <p class="card-text"> {{property.project}} Layout</p>



                {% if property.availability %}

                           <h2 class="Car">  For Sale</h2>

                {% else %}

                           <h3 class="cards">Sold Out</h3>

                {% endif %}

                <br>
</h5>
                 <p class="card-text"></p>

                <a href="{% url 'venture:property_detail' property.id %}" class="button text-light"><span> Details </span></a>
            </div>
        </div>
        <br>
      </div>

      {% endfor %}

    </div>
  </div>

<!-- Ending-->
<style>

   @import url(https://fonts.googleapis.com/css?family=Patua+One);

body {background-color:#CC0000;}

.car {
  background-color:#007E33 ;
  width:100px; height:30px;
  line-height:30px;
  font-size:20px;
  text-align:center;
  position:relative;
  margin:20px left;;
  font-family: 'Patua One', cursive;
  color:#fff;
  }

.car:before, .car:after {
  background-color:#007E33;
  width:20px; height:30px;
  content:'';
  display:block;
  transform:skewY(20deg);
  position:absolute;
  z-index:-1;
}

.car:before {top:10px; left:0; }
.car:after {top:-10px; right:0; }


.cards {
  background-color:#d50000 ;
  width:100px; height:30px;
  line-height:30px;
  font-size:20px;
  text-align:center;
  position:relative;
  margin:20px left;;
  font-family: 'Patua One', cursive;
  color:#fff;
  }

.cards:before, .cards:after {
  background-color:#d50000;
  width:20px; height:30px;
  content:'';
  display:block;
  transform:skewY(20deg);
  position:absolute;
  z-index:-1;
}

.cards:before {top:10px; left:0; }
.cards:after {top:-10px; right:0; }

.button {
  border-radius: 4px;
  background-color: #4285F4;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 80px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button a:active {
  background-color: black;
}

.card-img-top {
  width: 100%;
    height: 300px;
}


</style>

{% endblock body %}